.product-thumbnail {
  position: relative;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  border: 1px solid #e1e3e5;
  border-radius: 3px;
}
.product-thumbnail .thumbnail {
  align-self: center;
  color: "#8c9196";
}
.product-thumbnail .qty {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 14px;
  position: absolute;
  top: -0.1rem;
  right: -0.1rem;
  background-color: #e1e3e5;
  border-radius: 100%;
  text-align: center;
}
.checkout-details {
  background-color: #f2f4f5;
  border: 1px solid #e1e3e5;
  min-height: calc(100vh - 50px);
  padding: 30px;
  margin-left: 20px;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
  width: 100%;
}
table.items-table tr:last-child td {
  border-bottom: none;
}
table.items-table tr:first-child td {
  border-top: none;
}

table.items-table td:first-child {
  padding-left: 0px;
  width: 5rem;
}
table.listing td,
table.listing th {
  border-left: 0;
  border-right: 0;
  padding: 1rem;
}
table.items-table td {
  padding: 1.5rem 1rem;
}
table td,
table th {
  border: 1px solid #e1e3e5;
  padding: 0.5rem;
  text-align: left;
}
.summary-row {
  display: grid;
  margin-bottom: 1rem;
  grid-gap: 1rem;
  grid-template-columns: 14rem auto;
}
.summary-row > div {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr auto;
}
.summary-row.grand-total .grand-total-value {
  font-size: 2rem;
  font-weight: bold;
}
.flex-grow {
  flex-grow: 1;
}
.flex {
  display: flex;
}
.field-wrapper {
  background-color: #fff;
  position: relative;
}
.checkout-details-block {
  border-top: 1px solid #e1e3e5;
  padding-top: 1rem;
}
.button.primary:hover {
  background-color: #006e52;
}

.checkout-details-block__subtotal,
.checkout-details-block__total {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.checkout-details__item {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  border-bottom: 1px solid #e1e3e5;
}

.checkout-details__product-details {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.checkout-details__product-image {
  width: 15%;
}

.checkout-details__product-info {
  width: 65%;
}

.checkout-details__quantity {
  margin-top: 10px;
}

.checkout-details__product-total {
  width: 30%;
  text-align: right;
}

@media (min-width: 768px) {
  .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 1200px) {
  .checkout-details {
    border: 0px;
    padding: 20px;
    margin-left: 0px;
    margin-top: 20px;
  }

  .checkout-details__product-details {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 482px) {
  .checkout-details__product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .checkout-details__product-total {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .checkout-details__product-image {
    display: flex;
    justify-content: center;
  }

  .checkout-details__product-name {
    text-align: center;
  }

  .checkout-details__product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
