.rightUpperHeader {
  color: #ffff;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}
.rightUpperHeader span {
  margin: 0px 10px 0px 10px;
  cursor: pointer;
}
.rightUpperHeader span a {
  color: #ffff;
}
.leftUpperHeader {
  color: #ffff;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}
.leftUpperHeader i {
  cursor: pointer;
}
.footerStore {
  background-color: #00364d;
  margin-top: 9rem;
  padding-top: 1rem;
  padding-block-end: 1rem;
  border-top: 1px solid #00364d;
}
.footer-wrapper {
  width: 100%;
  min-height: 50px;
  color: #ffff;
  display: "flex";
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}
.footer-wrapper div {
  align-items: center;
}
.leftFooter {
  text-align: left;
}
.rightFooter {
  text-align: right;
}
.category {
  list-style: none;
  display: flex;
  flex-direction: row;
  color: #fff;
  padding: 0;
}
.categoryContainer {
  margin-top: 10px;
}
.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.followContainer {
  margin-left: 15px;
}
.welcomeContainer {
  margin-right: 15px;
}
@media (max-width: 768px) {
  .searchContainer {
    justify-content: center;
  }
  .rightUpperHeader {
    text-align: center;
  }
  .leftUpperHeader {
    text-align: center;
  }
  .leftFooter {
    text-align: center;
  }
  .rightFooter {
    text-align: center;
  }
}
@media (max-width: 431px) {
  .welcomeContainer {
    margin-right: 0px;
  }
  .followContainer {
    margin-left: 0px;
  }
  .searchContainer {
    padding-top: 10px;
  }
  .category {
    padding: 0px;
    padding: 25px;
  }
  .categoryContainer {
    margin-top: 0px;
  }
  .footer-wrapper {
    padding-left: 0px;
  }
}
