@media screen and (min-width: 1200px) {
  .page-width {
    padding: 0 55px;
  }
}

.page-width {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 22px;
}
@media (min-width: 768px) {
  .md\:mb-8 {
    margin-bottom: 2rem;
  }
}
.mb-4 {
  margin-bottom: 1rem;
}
.category__general {
  position: relative;
}

.form-field-container:first-child {
  margin-top: 0;
}
.form-field-container {
  margin-top: 2rem;
}

html select {
  padding: 1rem 1.2rem;
}

html select {
  background: none;
  padding: 0.5rem 1.2rem;
  display: block;
  flex: 1 1;
  display: block;
  width: 100%;
  position: relative;
  z-index: 10;
  border: 1px solid rgba(0, 0, 0, 0);
  margin: 1px;
  border-radius: 4px;
}
button,
select {
  text-transform: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
select {
  -webkit-appearance: none;
  appearance: none;
}
.field-border {
  border: 1px solid #c9cccf;
  border-radius: 4px;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.product-thumbnail-listing2 {
  background-color: #f6f6f6;
  color: rgba(51, 17, 51, 0.0666666667);
  min-height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.catalog-image {
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.gap-8 {
  gap: 2rem;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid {
  display: grid;
}
