.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.flex {
  display: flex;
}
@media (min-width: 768px) {
  .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .md\:mt-12 {
    margin-top: 3rem;
  }
}
.gap-12 {
  gap: 3rem;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid {
  display: grid;
}
.gap-4 {
  gap: 1rem;
}
.flex-col {
  flex-direction: column;
}
.mt-8 {
  margin-top: 2rem;
}

.gap-2 {
  gap: 0.5rem;
}

.justify-start {
  justify-content: flex-start;
}
.flex-wrap {
  flex-wrap: wrap;
}
.qty {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: none;
  padding: 0.5rem 1.2rem;
  display: block;
  flex: 1 1;
  display: block;
  width: 100%;
  position: relative;
  z-index: 10;
  border: 1px solid #e1e3e5;
  margin: 1px;
  border-radius: 4px;
}
.qty {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  height: 40px;
}

.button.primary:hover {
  background-color: #00364d;
}

img.self-center-details {
  max-width: 100%;
  height: auto;
  display: block;
}

.custom-confirm-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-confirm-button:hover {
  background-color: #45a049;
}

.product-details {
  display: flex;
  flex-direction: row;
}

.product-details__image {
  max-width: 550px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.product-details__info {
  padding: 100px 0px;
  margin-left: 20px;
}

.product-details__name,
.product-details__price,
.product-details__sku,
.product-details__sizes,
product-details__colors,
.product-details__sizes h6,
.product-details__colors h6,
.product-details__quantity,
.product-details__actions {
  margin-bottom: 20px;
}

.product-details__quantity {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-details__stocks-container {
  margin-left: 20px;
}

.product-details__stocks-container h4 {
  text-align: center;
  padding-top: 10px;
}

.product-details__variant-options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-left: 0;
}

.product-details__variant-options li {
  border: 1px solid #e1e3e5;
  border-radius: 2px;
  background-color: #fff;
  font-size: 12px;
  text-decoration: none;
  list-style: none;
}

.product-details__variant-options li span {
  padding: 1rem 1.5rem;
  display: block;
  text-align: center;
  color: inherit;
  cursor: pointer;
}

.product-details__variant-options li.selected {
  background-color: #00364d;
  border-color: #00364d;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 991px) {
  .product-details {
    flex-direction: column;
  }

  .product-details__image {
    max-width: 1000px;
  }

  .product-details__info {
    padding: 20px;
    margin-left: 0px;
  }

  .product-description {
    padding: 0px 20px;
  }
}
